<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mt.cardletter">

    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--地图部分权限-->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <!-- 短信验证登陆功能需要添加次权限来自动填充验证码，用不到可以去掉 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 登录> -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 赚积分 -->
        <activity
            android:name=".activity.MakeIntegralActivity"
            android:screenOrientation="portrait" />
        <!-- 查积分 -->
        <activity
            android:name=".activity.SearchIntegralActivity"
            android:screenOrientation="portrait" />
        <!-- 分类搜索 -->
        <activity android:name=".activity.SearchClassicActivity" android:screenOrientation="portrait"/>
        <!-- 天气页面 -->
        <activity android:name=".activity.WeatherActivity" android:screenOrientation="portrait"/>

        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ea928b115602e46b08ae48d583925655" />
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="ea928b115602e46b08ae48d583925655"/>
        <!-- 百度的api_key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="bHfxwZKhS1rEDfo8Bd9mbG6WzfHR6B9p" >
        </meta-data>
        <!-- 百度地图定位使用 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ea928b115602e46b08ae48d583925655" />

    </application>

</manifest>