<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mt.cardletter">

    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 地图部分权限 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <!-- 短信验证登陆功能需要添加次权限来自动填充验证码，用不到可以去掉 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 友盟所需的必要权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 相机权限及SD卡 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 极光推送权限 -->
    <permission
        android:name="com.mt.cardletter.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mt.cardletter.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    -
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">

        <!-- 友盟所需的meta-data -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a4d95b5f43e480afe0000e7" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--通过浏览器Url启动app-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="lolita"
                    android:scheme="night" />
                <!--<a href="night://lolita?cardfind_id=12"></a>-->
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <!-- 登录> -->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 赚积分 -->
        <activity
            android:name=".activity.MakeIntegralActivity"
            android:screenOrientation="portrait" />
        <!-- 查积分 -->
        <activity
            android:name=".activity.SearchIntegralActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!-- 分类搜索 -->
        <activity
            android:name=".activity.SearchClassicActivity"
            android:screenOrientation="portrait" />
        <!-- 天气页面 -->
        <activity
            android:name=".activity.WeatherActivity"
            android:screenOrientation="portrait" />
        <!-- 违章查询 -->
        <activity
            android:name=".activity.ViolateActivity"
            android:screenOrientation="portrait" />
        <!-- 违章详情 -->
        <activity
            android:name=".activity.ViolateDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 消息 -->
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait" />

        <!-- 热门 -->
        <activity
            android:name=".activity.ArticleActivity"
            android:screenOrientation="portrait" />
        <!-- 订单 -->
        <activity
            android:name=".activity.ExpressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExpressDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 地理位置 -->
        <activity
            android:name=".activity.LoactionActivity"

            android:screenOrientation="portrait" />
        <!-- QQ邮箱H5 -->
        <activity
            android:name=".activity.WebView_QQActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索页面 -->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!-- 信用卡分类列表信息 -->
        <activity
            android:name=".activity.CreditListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bank.SHActivity"
            android:screenOrientation="portrait" />
        <!-- 上海银行信用卡详情展示 -->
        <activity
            android:name=".activity.bank.SHWebActiviy"
            android:screenOrientation="portrait" />
        <!-- 交通银行信用卡详情展示 -->
        <activity
            android:name=".activity.bank.JTWebActiviy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CityPickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.BankJFActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BankJFWebViewActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ea928b115602e46b08ae48d583925655" />
        <!-- 百度的api_key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="niHaYaKjTphWXzITORACphS55PXvOga8" />
        <!-- 百度地图定位使用 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- <meta-data -->
        <!-- android:name="com.amap.api.v2.apikey" -->
        <!-- android:value="ea928b115602e46b08ae48d583925655" /> -->
        <!-- 银行秒杀 -->
        <activity
            android:name=".activity.seckill.SeckillActivity"
            android:screenOrientation="portrait" />
        <!-- 设置页面 -->
        <activity
            android:name=".activity.setting.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 设置信息页面-->
        <activity
            android:name=".activity.setting.SettingMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 用于相机权限的内容提供者 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mt.cardletter"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- demo H5 -->
        <activity
            android:name="test.abc.H5Activity"
            android:screenOrientation="portrait" />
        <!--我的关注银行 筛选页面-->
        <activity
            android:name=".activity.ScreenActivity"
            android:screenOrientation="portrait" />
        <!-- 商品详情页面 -->
        <activity
            android:name=".activity.SetailsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <!-- 关于页面 -->
        <activity
            android:name=".activity.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.mt.cardletter" />
            </intent-filter>
        </activity>

        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.mt.cardletter.DataProvider"
            android:exported="false" />

        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.mt.cardletter" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.mt.cardletter.DownloadProvider"
            android:exported="true" />

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.mt.cardletter" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.mt.cardletter" />
            </intent-filter>
        </receiver>
        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".receiver.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.mt.cardletter" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="85006f829aaf90152c813e41" />

        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.NetNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsItemActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.showimg.ImagePagerActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--收藏列表-->
        <activity
            android:name=".activity.collect.CollectActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--收藏列表-->
        <activity
            android:name="test.abc.WebViewTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 账单列表-->
        <activity android:name=".activity.BillActivity"
            android:screenOrientation="portrait"/>
        <!-- 账单详情 -->
        <activity android:name=".activity.BillDetailActivity"
            android:screenOrientation="portrait"/>
        <!--用户评论-->
        <activity android:name=".activity.comment.CommentActivity"
            android:screenOrientation="portrait"/>

        <!-- 卡发现详情页面 -->
        <activity android:name=".activity.MoreTabActivity"
            android:screenOrientation="portrait"/>

        <receiver android:name=".utils.updater.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>